<br />
<div class="ch-item-{data.layout}">        
    <div class="ch-info-{data.layout} ch-info">
       <div class="ch-info-front-{data.layout}  ch-img" style="background-image: url({f:uri.image(image: file)});"></div>
       <div class="ch-info-back-{data.layout} ">
          <f:render partial="Media/Rendering/chInfoContent" arguments="{file: file, settings: settings}" />
       </div>  
    </div>
</div>


<f:render partial="Media/Rendering/externalFigcaption" arguments="{file: file, settings: settings}" />
