<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ce="http://typo3.org/ns/TYPO3/CMS/FluidStyledContent/ViewHelpers" data-namespace-typo3-fluid="true">


<f:if condition="{data.layout} == 0">

    <figure class="image">
    	<f:if condition="{file.link}">
    		<f:then>
    			<f:link.typolink parameter="{file.link}" title="{file.title}">
    				<f:render partial="Media/Rendering/Image" arguments="{file: file, dimensions: dimensions, settings: settings}" />
    			</f:link.typolink>
    		</f:then>
    		<f:else>
    			<f:if condition="{data.image_zoom}">
    				<f:then>
    					<ce:link.clickEnlarge image="{file}" configuration="{settings.media.popup}">
    						<f:render partial="Media/Rendering/Image" arguments="{file: file, dimensions: dimensions, settings: settings}" />
    					</ce:link.clickEnlarge>
    				</f:then>
    				<f:else>
    					<f:render partial="Media/Rendering/Image" arguments="{file: file, dimensions: dimensions, settings: settings}" />
    				</f:else>
    			</f:if>
    		</f:else>
    	</f:if>
    	<f:if condition="{file.description}">
    		<figcaption class="image-caption">
    			{file.description}
    		</figcaption>
    	</f:if>
    </figure>
</f:if>



<f:comment>
#####################################################
layout 2657 CIRCLE 
#####################################################


</f:comment> 
<f:if condition="{data.layout} == 2657"> 
       <f:if condition="{settings.R2showMoreLink} == 1">
        <f:then>
              <figure class="image ch-grid image-{data.layout}">           
                <f:render partial="Media/Rendering/layout{data.layout}" arguments="{data: data, file: file, settings: settings}" />         
              </figure>
        </f:then>
        <f:else>
            <f:link.typolink parameter="{file.link}" title="{file.title -> f:format.stripTags()}" class="rollover-link">
              <figure class="image ch-grid image-{data.layout}">           
                <f:render partial="Media/Rendering/layout{data.layout}" arguments="{data: data, file: file, settings: settings}" />         
              </figure>
            </f:link.typolink>
        </f:else>
      </f:if>
</f:if>

</html>
