<f:spaceless>
    <f:render partial="Header" section="bs3Header" arguments="{_all}" />

    <div id="content" class="main-section">
        <f:render section="Main" />
    </div>

    <f:render partial="Footer" arguments="{_all}" />
</f:spaceless>
