<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid=
"true">

    <footer>
        <f:render partial="Navigations" section="preFooterNav" arguments="{_all}"></f:render>

        <section class="section footer-section footer-section-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '10'}" />
                    </div>
                    <div class="col-sm-4">
                        <f:cObject typoscriptObjectPath="lib.dynamicContentSlide" data="{pageUid: '{data.uid}', colPos: '12'}" />
                    </div>
                </div>
            </div>
        </section>
    </footer>
</html>

