<f:section name="bs3Header">
    <header>
        <f:render partial="Navigations" section="bs3navbar" arguments="{_all}"></f:render>
    </header>
</f:section>
<f:section name="main">
    <header>
        <div class="container">
            <div class="header-logo">
                <f:if condition="{settings.logo.file}">
                    <f:then>
                        <f:link.page pageUid="{rootPage}" class="logo-link" title="{siteTitle}">
                            <img class="logo-image" src="{f:uri.image(src: settings.logo.file)}" alt="{siteTitle}" style="max-height:10rem;">
                        </f:link.page>
                    </f:then>
                    <f:else>
                        <f:link.page pageUid="{rootPage}" class="logo-link" title="{siteTitle}">{siteTitle}</f:link.page>
                    </f:else>
                </f:if>
            </div>
        </div>
    </header>
</f:section>


