<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="fluid-styled-slider row" style="width: {slider.width}px; margin: auto">
    <f:for each="{files}" as="file">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <figure class="fluid-styled-slider-item">
            <f:image class="img-responsive" image="{file}" height="{data.imageheight}" width="{data.imagewidth}" alt="{file.properties.alt}" title="{file.properties.title}"/>
            <f:if condition="{file.properties.description}">
                <figcaption>{file.properties.description}</figcaption>
            </f:if>
        </figure>
        
    </div>
    </f:for>
</div>
</html>
